<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tughi.aggregator"
    tools:targetApi="m">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.reader.ReaderActivity" />

        <activity
            android:name=".activities.feedsettings.FeedSettingsActivity"
            android:label="@string/feed_settings"
            android:parentActivityName=".activities.main.MainActivity" />

        <activity
            android:name=".activities.subscribe.SubscribeActivity"
            android:label="@string/subscribe__find_feeds"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.updatesettings.UpdateSettingsActivity"
            android:label="@string/update_settings"
            android:parentActivityName=".activities.main.MainActivity" />

        <activity
            android:name=".activities.cleanupmode.CleanupModeActivity"
            android:label="@string/cleanup_mode" />

        <activity
            android:name=".activities.updatemode.UpdateModeActivity"
            android:label="@string/update_mode" />

        <activity
            android:name=".OpmlImportActivity"
            android:label="@string/opml_import__title" />

        <service
            android:name=".services.FaviconUpdateService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.AutoUpdateService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.tagsettings.TagSettingsActivity"
            android:label="@string/tag_settings"
            android:parentActivityName=".activities.main.MainActivity" />

        <activity
            android:name=".activities.entrytags.EntryTagsActivity"
            android:label="@string/entry_tags"
            android:parentActivityName=".activities.main.MainActivity" />

        <activity
            android:name=".activities.tagspicker.TagsPickerActivity"
            android:parentActivityName=".activities.main.MainActivity" />

        <activity
            android:name=".activities.myfeedsettings.MyFeedSettingsActivity"
            android:label="@string/my_feed_settings"
            android:parentActivityName=".activities.main.MainActivity" />

    </application>

</manifest>
