<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}

    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <div id="banner"></div>
    <div class="container markdown-body">
        <h1><a href="{{ '/' | absolute_url }}">{{ site.title }}</a> &raquo; {{ page.title }}</h1>

        {{ content }}
    </div>
</body>

</html>
